#dashboardMainContainer {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
  color: black;
}

#interactionContainer {
  width: 97vw;
  background-color: whitesmoke;
  display: flex;
}

#dashboardAside {
  background-color: white;
  height: calc(100vh - 47.6px);
  width: 3vw;
  height: 100%;

  ul {
    text-align: center;
    border-right: 1px solid #dee2e6;
    height: 100%;

    li {
      font-size: 20px;
      cursor: pointer;
      padding: 10px;
      color: #b9d7ea;
      transition: 0.2s;
    }

    li:hover {
      color: #769fcd;
    }

    li.active {
      background-color: #d6e6f2;
      color: #769fcd;
    }
  }
}

#headerMenuButtonContainer {
  width: 100%;

  button {
    height: 100%;
    width: 100%;
  }
}

.h-6 {
  height: 6vh;
}

.bg-white {
  background-color: white;
}

.dashboard-button {
  cursor: pointer;
  font-size: 20px;
}

.button-white {
  background-color: white;
  border: none;
}

.dashboard-button:focus {
  outline: none;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6;
}

.text-center {
  text-align: center;
}

.mb-0 {
  margin-bottom: 0px;
}

.h-100 {
  height: 100%;
}