@import "../Vars.scss";

.footer {
  display: flex;
  text-align: center;
  justify-content: space-between;
  text-decoration: none;
  height: 25px;
  background-color: $primary-color;
  padding: 20px;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer a:hover {
  text-decoration: underline;
}
