#salesItems {
  width: 100%;
}

#salesCart {
  width: 20%;
  border-left: 1px solid #dee2e6;
  background-color: white;
  display: flex;
  flex-direction: column;
}

#salesItemsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 1200px) {
  #salesCart {
    width: 23%;

  }

  #salesItems {
    width: 77%;
  }
}

@media only screen and (max-width: 1100px) {
  #salesCart {
    width: 25%;

  }

  #salesItems {
    width: 75%;
  }
}


@media only screen and (max-width: 992px) {
  #salesCart {
    width: 28%;

  }

  #salesItems {
    width: 72%;
  }
}



@media only screen and (max-width: 768px) {
  #salesCart {
    width: 35%;

  }

  #salesItems {
    width: 65%;
  }
}

@media only screen and (min-width: 576px) {
  #salesCartResponsiveButtonContainer {
    display: none;
  }
}


@media only screen and (max-width: 575px) {

  #salesCart {
    display: none;
  }

  #salesCart.full-screen {
    top: 5.2vh;
    position: fixed;
    z-index: 120000000;
    bottom: 0px;
    left: 0px;
    width: 100%;
    margin-bottom: 18px;
    height: 94.8vh;
    display: block;
  }

  #salesItems {
    width: 100%
  }
}