.invoice-container {
    width: 25%;
    text-align: center;
    margin-bottom: 2rem;
    padding: 0 3rem;
}

.invoice-element {
    background-color: white;
    padding: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3) !important;
}

@media (max-width: 991.98px) {
    .invoice-container {
        width: 33.3%;
    }
}

@media (max-width: 767.98px) {
    .invoice-container {
        width: 50%;
    }
}

@media only screen and (max-width: 576px) {
    .invoice-container {
        width: 100%;
    }
}