.item {
    margin: 20px 0px 0px 20px;
    display: inline-table;
    touch-action: manipulation;
    // width: 21%;

    img {
        cursor: pointer;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 212px;
        height: 212px;
        border-radius: 0.25rem;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
        object-fit: cover;
        border: 1.5px solid white;
        transition: transform 0.1s;
    }

    h4 {
        margin-top: 6px;
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 1200px) {
    .item img {
        width: 180px;
        height: 180px;
    }
}

@media only screen and (max-width: 1100px) {
    .item img {
        width: 160px;
        height: 160px;
    }
}

@media only screen and (min-width: 992.1px) {
    .item img:hover {
        transform: scale(1.04);
    }
}

@media only screen and (max-width: 992px) {
    .item img {
        width: 170px;
        height: 170px;
    }

    .item:last-child {
        margin-bottom: 60px;
    }
}

@media only screen and (max-width: 768px) {
    .item img {
        width: 150px;
        height: 150px;
    }
}

@media only screen and (max-width: 576px) {
    .item img {
        width: 140px;
        height: 140px;
    }

    .item {
        margin: 20px 20px 0px 20px;
    }
}

@media only screen and (max-width: 375px) {
    .item img {
        width: 120px;
        height: 120px;
    }
}