.layout-navbar {
    text-align: right;
    padding: 1rem 1rem;
    height: 10vh;

    a {
        margin: 0rem 0.5rem;
        border: 3px transparent solid;
        text-decoration: none;
        display: inline-block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    a.active {
        border-color: rgb(240, 240, 240);
    }
}

.layout-container {
    display: flex;
    width: 100%;
}

.layout-children {
    width: 35%;
}

.layout-information {
    width: 65%;
    text-align: center;
    padding: 1rem 0;

    img {
        width: 190px;
    }
}

.layout-privacy {
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;

    a {
        color: black;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

@media only screen and (min-width: 992.1px) {
    .layout-container {
        height: 83vh;
        max-height: 83vh;
    }
}

@media only screen and (max-width: 992px) {
    .layout-container {
        flex-direction: column-reverse;

        .layout-children,
        .layout-information {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 550px) {
    .layout-privacy {
        align-items: flex-start;
        flex-direction: column;
        padding-bottom: 1rem;

        a {
            margin: 5px 0px;
        }
    }
}



// Widths
@media only screen and (max-width: 1230px) {
    .layout-children {
        width: 50%;
    }

    .layout-information {
        width: 50%;
    }
}