.layout-navbar {
    padding: 1rem 3rem;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        margin: 0rem 0.5rem;
        border: 3px transparent solid;
        text-decoration: none;
        display: inline-block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    a.active {
        border-color: rgb(240, 240, 240);
    }
}

.hide-md {
    display: none;
}

hr.hide-md {
    width: 80%;
    margin: 1rem auto;

}

.layout-container {
    display: flex;
    width: 100%;
}

.layout-children {
    width: 35%;
}

.layout-information {
    width: 65%;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
        font-weight: 400;
        text-align: center;
    }

    span {
        font-weight: 700;
    }
}

#fgPosLogo {
    height: calc(12vh - 2rem);
    float: left;
}

#fgPosMain {
    width: 70%;
}

.layout-privacy {
    display: flex;
    justify-content: space-between;
    padding: 0rem 4rem;

    a {
        color: black;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

@media only screen and (min-width: 992.1px) {
    .layout-container {
        height: 83vh;
        max-height: 83vh;
    }
}

@media only screen and (max-width: 992px) {

    .hide-md {
        display: inline-flex;
    }

    .layout-information {
        padding: 1rem 1rem;
    }

    .layout-container {
        flex-direction: column;

        .layout-children,
        .layout-information {
            width: 100%;
        }
    }

    .layout-privacy {
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
}

@media only screen and (max-width: 550px) {

    .layout-navbar {
        padding: 1rem 0.6rem;
    }
}

@media only screen and (max-width: 594px) {
    .layout-privacy {
        align-items: center;
        flex-direction: column;
        padding-bottom: 2rem;
        padding-top: 1rem;

        a {
            margin: 5px 0px;
        }
    }
}



// Widths
@media only screen and (max-width: 1230px) {
    .layout-children {
        width: 50%;
    }

    .layout-information {
        width: 50%;

        h2 {
            padding: 0rem 2rem;
        }
    }
}