#ProductList {
  display: flex;
  background-color: whitesmoke;
  height: calc(100vh - 47.6px);
  overflow-y: scroll;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

#salesLoadingContainer {
    text-align: center;
    padding-top: 5rem;

    i {
        color: $secondary-color;
    }
}

#noAvailableProducts {
    text-align: center;
    margin-top: 3rem;
    width: 100%;

    h3 {
        margin-bottom: 5px;
    }
}