.cart-checkout-item {
    display: flex;
    align-items: center;
    margin: 6px 0px;
}

.cart-checkout-item-information {
    width: 60%;
}

.cart-checkout-item-price {
    width: 40%;
    text-align: right;
}