.cart-item {
    display: flex;
    padding: 15px 0px;
    align-items: center;
    touch-action: manipulation;

    img {
        width: 50px;
        height: 50px;
        border-radius: 0.25rem;
    }
}

.cart-item-information {
    margin-left: 10px;
    width: calc(100% - 50px);
}

.cart-item-quantity {

    .fas {
        cursor: pointer;
    }

    .fa-plus-circle {
        color: #28a745;
    }

    .fa-minus-circle {
        color: #dc3545;
    }
}

.cart-item-price {
    text-align: right;
}

@media only screen and (max-width: 575px) {

    .cart-item {
        img {
            width: 60px;
            height: 60px;
        }
    }

    .cart-item-information {
        h4 {
            font-size: 1rem;
        }

        h5 {
            font-size: 1rem;
        }
    }
}