@import "./Vars.scss";

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
form,
footer,
header,
menu,
nav {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin: 0;
  color: white;
  font-family: $theme-font;
  background-color: $color-background;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#app,
.Layout {
  height: 100%;
  width: 100%;
  margin: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}