.footer {
    display: flex;
    text-align: center;
    justify-content: space-between;
    text-decoration: none;
    height: 25px;
    background-color: #f38a3c;
    padding: 20px;
  }
  
  .footer a {
    text-decoration: none;
    color:white;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }