.login_container {
    display: flex;
    background-color: white;
    height: calc(100% - (80px + 80px));
    justify-content: center;
    align-items: center;
    color: black;
    margin-bottom: 20px;
  }
  .login {
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0px 30px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border: 1px solid black;
  }
  .login__container--from {
    display: flex;
    flex-direction: column;
  }
  .input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 10px;
    border-radius: 5px;
  }
  .button {
    height: 40px;
    width: 100%;
    font-size: 18px;
    background-color: #f38a3c;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  .button:hover {
    background-color: orangered;
  }
  .login__container--remember-me {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .login__container--remember-me a {
    text-decoration: none;
  }
  
  .login__container--social-media > div {
    align-items: center;
    display: flex;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .login__container--register {
    font-size: 14px;
  }
  
  .login__container--register a {
    text-decoration: none;
    color: black;
    font-size: 15px;
  }